*{font-family:'Roboto';}

#readme{
  text-align: center;
}
#form{
  text-align: center;
  clear: both;
}
#inputbox{
  width: 25%;
  font-size:18px;
  margin: 0 20px;
}
#submit-button{
}
#limitation{
  color:yellow;
  background-color: red;
}
#results{
  font-family: Courier;
  text-align: center;
}
#footer{
  text-align: center;
}
