#readme{
  text-align: center;
}
#form{
  text-align: center;
  clear: both;
}
#textbox{
  width: 50%;
}
#limitation{
  color:yellow;
  background-color: red;
}
#results{
  font-family: Courier;
  text-align: center;
}
#footer{
  text-align: center;
}
